@charset "UTF-8";

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 16px;
}

img {
    width: 400px;
}

button {
    width: 400px;
    height: 100px;
    font-size: 2em;
    font-family: 'Courier New', Courier, monospace;
    font-weight: 600;
    background-color: brown;
    border: 4px solid black;
}