@charset "UTF-8";


html{background-color: blue;}

article{background-color: lightblue;}

nav, aside, footer {background-color: orange;
border: dashed 4px black;}

h1{font-size: 20px;
color: green;}

h2,h3 {color: green;
font-size: 18px;}

barra_navegacao{font-size: 14px;}

p{font-size: 12px;}

