@charset "UTF-8";

html{
    background-color: gray;
}

body{
    width: 980px;
    margin: 0px auto 0px auto;
    background-color: aliceblue; 
}

/* Coloca a navbar na horizontal */
ul, li, a {
    display: inline;
    margin: 30px;
    text-decoration: none;
    font-size: 1.1em;
}
/*Hover dá efeito no texto quando clica nele*/

ul li a:hover{
    color: #ffffff;
    background-color: #0000ff;
}


article{
    margin: 0px 5px 0px 5px;
    float: left;
    width: 572px;
}
aside{
    margin-top: 0px;
    float: right;
    width: 390px;
    padding: 0px 0px 2px 0px;
}

footer{
    clear: both;
}

nav, article, aside, header, footer{
    border:2px dashed rgba(0, 0, 0, 0.397);
}


/* Ajusta a imagem do cabeçalho */
#cabecalho{
    margin: 10px 10px 10px 10px;
}


p{
    text-align: justify;
    padding: 3px 10px 2px 10px ;
}

h1,h2,h3,h4{
    padding-left: 10px;
}


#imgaside{
    margin: 0px 10px 0px 10px;
}

.imgaside1, .imgaside2{
    margin: 20px 80px 20px 80px;
} 

nav{
    text-align: center;
    font-size: 1.4em;
    padding: 10px 10px 10px 10px;
}

.elemento{
    font-size: .8em;
    margin: 5px auto 0px auto ;
    color: #0000ff;
    text-align: left;
}

.elemento:hover{
    background-color: #FF5C5C;
    display: inline-block;
}
/*EM ajusta o texto de acordo com a fonte da tela*/
em{
    font-weight: bold;
    color: #b61a00
}

small{
    padding: 20px;
}

h3{
    padding-left: 20px;
}