@charset "UTF-8";


/* Padrões para a página */

html{
    all: unset;
    font-size-adjust: 100%;
    background-color: #0B1426;
}

/* article, aside, footer, section{
    border: dashed 2px black;
} */
/* Estruturas HTML semântico */

body{
    width: 980px;
    margin: 0px auto 0px auto;
    background-color: #0554F2;
}


header{
    margin: 0px auto 0px auto;
    background-color: #08428C;
}

article{
    width: 980px;
    margin: 0px auto 0px auto;
    padding: 15px;
}



footer{
    clear: both;
    padding: 20px;
    background-color: gray;
    background-color: #08428C;
}

/* Estruturas Textuais */

h1{
    padding: 15px;
    font-size: 3.5em;
    text-align: center;
    color: #ffffff;
}

h2{
    text-align: left;
    font-size: 2em;
}

h3{
    font-size: 1.2em;
    text-align: left;

}

h4{
    font-size: 1.2em;
    text-align: center;
}


h1, h2, h3, h4, small {
    font-family: "Roboto", sans-serif;
    color: #F2F2F2;

}

legend, label,select{
    font-family: "Roboto", sans-serif;
}

p{
    margin: 2px auto 10px auto;
    text-align: left;
    font-size: 1.3em;
    font-family: "PT Serif", serif;
    color: #ffffff;    
}


small{
    font-size: 1em;
    text-align: center;
}

/* Retira o sublinhado do link */
a{
    text-decoration: none;
    color: #ffffff;
    font-family: "PT Serif", serif;

}

    /* Efeito ao passar o mouse sobre o Link */
a:hover{
        color:#08428C;
        background-color: #ffffff;
}

/* Formulário */

form{
   width: 960px;
   margin: 10px auto 10px auto;
}

label, legend{
    font-size: 1.2em;
    padding: 2px auto 2px auto;

}

#SelectList select{
    font-size: 1em;
    margin-bottom: 10px;
    padding: 10px;
    
}

#Dropdown select{
    font-size: 1em;
    padding: 10px;

}

