@charset "UTF-8";

/* Reseta os padrões da página */
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    background-color: rgb(159, 220, 255);
}


#galeria {
    display: flex;
    flex-direction: row;

}

#galeria img{
    height: 310px;
    padding: 10px;
}

#galeria figcaption{
    text-align: center;
    font-size: 1em;
    border: 2px solid black;
    margin-left: 10px;
    margin-right: 10px ;
    padding: 4px;
    background-color: blue;
    color: white;
    
}

h1{
    font-size: 6em;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    padding: 0.5em;
}

