@charset "UTF-8";

body{
	background-color: #0297DE;
}

h1{ font-size: 50px;
	text-align: center;
}

h2{font-size: 25px;
	text-align: center;
}
h3 {font-size: 15px;}

h1{text-transform: uppercase;}
h2{ text-transform: capitalize;}

article, section, footer, aside {
	background-color:#0297DE;
	
}


#barra_de_navegacao, header, a{
	color: #ffffff;
	background-color: hsl(0, 0%, 0%);
	padding: 10px;
	font-size: 20px;
}

/* Colocar o menu de navegação na horizontal */
li {display: inline;
	color: #ffffff;
}

